openai
SpeechRecognition
pywin32
python-dotenv
requests
langdetect
keyboard
psutil
vosk
pyttsx3
gTTS
python-vlc
duckduckgo-search
Flask
GPUtil
pycaw
comtypes
pywebview
pyngrok
pyautogui
yt-dlp
pywhatkit
twilio